* {
    box-sizing: border-box;
}

html {
    font-family: helvetica;
}

.photos {
    height: 200px;
}

.font {
    font-family: cursive; font-size: 20px;
}

.margin {
    margin-left: 70px;
}

#logo {
    height: 60px;
}

h1 {
    border: 2px solid #000000;
    padding: 10px;
    background-color: antiquewhite;    
}

h2 {
    border: 2px solid #000000;
    padding: 10px;
}